.btns-style button {
  float: right;
  margin-left: 10px;
}
#studio-view {
  position: relative;
  width: 100%;
  height: 97%;
  overflow-y: hidden;
}
.scence-div {
  width: 100%;
  height: 49%;
}
.process-div {
  width: 100%;
  height: 49%;
}
.scence-div .div {
  display: inline-block;
  width: 20%;
  height: 100%;
  border: solid #222 1px;
}
.process-div .div {
  display: inline-block;
  width: 20%;
  height: 100%;
  border: solid #222 1px;
}

.scence-div .div-view {
  width: 60%;
}
.process-div .div-view {
  width: 60%;
}
.scence-div .properties-panel-parent {
  position: relative;
  height: 100%;
}
.process-div .properties-panel-parent {
  position: relative;
  height: 100%;
}

.fd {
  width: 24px;
  height: 24px;
  background-image: '../../../assets/tmp/img/1.png';
}
